{% load idom %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Astronauts Tracker</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />


  <body>
    {% component "AstronautApp.components3.SliderComponentMui" %}
    {% comment %} {% component "AstronautApp.components3.SliderInBox" %} {% endcomment %}
  </body>
</html>